/* Reset, generali e debug */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

ul,
ol,
menu {
    list-style: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container h1 {
    padding: 40px 0;
    text-align: center;
    font-weight: bold;
    color: #e53574;
}

/* Debug - TODO: rimuovere */
/* html {
    height: 100%;
    background-color: aqua;
} */

.debug {
    background-color: violet;
    border: 3px solid black;
}

main .container.debug {
    height: 500px;
}

.col.debug {
    background-color: antiquewhite;
}

/* TODO: FIne */
.row {
    margin: 0 -15px;
}

.col {
    float: left;
    width: calc(100% / 3);
    padding: 20px 15px;
}

.card {
    background-color: #000;
    color: #FFF;
}

.card-info {
    display: inline-block;
    vertical-align: middle;
}

.card .card__image {
    float: left;
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

.card .card__name {
    font-weight: bold;
    font-size: 0.9em;
}

.card .card__role,
.card .card__email {
    font-size: 0.7em;
}

.card .card__email {
    color: #46C9EC;
    display: block;
}